{
  "presets": [
    ["env", {
      "modules": false,
      "loose" : true,
      "browsers": "last 1 Chrome version"
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
        "env",
        "react",
        "stage-2"
      ]
    }
  }
}
